footer {
    padding:10px 0;
    color:white;
    background-color:black;
    padding: 10px 0;
    display:flex;
    justify-content: space-between;
}

.footer-info{
    padding-left:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer-address{
    padding-right:30px;
    display:flex;
    flex-direction: column;
}

footer p{
    margin:0;
    padding:0;
    line-height: 25px;
}

footer a{
    text-decoration: none;
    color:white;
}

footer .footer-icons{
margin:7px 0;
}

footer img{
    width:20px;
    height:20px;
}
