// default size (mobile)

.top-bar{
  color:white;
  background-color:black;
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
}

.top-bar img, .top-bar .nav-button{
  display:inline-block;
}

.logo img{
  height:60px;
  display:block;
  padding-left:20px;
}

.top-bar .nav-button{
  border: none;
  outline: none;
  color:white;
  background-color: black;
  height:60px;
  width: 60px;
  cursor:pointer;
  // .hamberger-icon:hover{
  //     display:block;
  //     font-weight:bolder;
  // }
}

//over 700px monitor
@media (min-width:700px)  {

.top-bar{
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width:100%;
  height:60px;
}

.top-bar .logo{
  display:block;
  width:25%;
  align-self: center;
}

.top-bar nav{
  width:75%;
}

.logo a{
  height:60px;
 display:block;
 align-self: center;

}

.logo img{
  padding-left:60px;
}

.top-bar .nav-button{
  display:none;
}

}