@media (min-width: 700px) {
  .banner-text {
    font-size: 50px;
    top: 32%;
    left: 32%;
    transform: translate(-33% -35%);
  }
}

@media (min-width: 1400px) {
  .banner-text {
    font-size: 50px;
    top: 24%;
    left: 41%;
    transform: translate(-30% -42%);
  }
}
