// default size (mobile)
nav{
    list-style: none;
    width:100%;
    display:none;
    

}

nav ul{
    padding-left:0;
    margin:0;
}

nav ul li{
    padding: 10px 0 10px 5px;
    
}

nav a{
    text-decoration: none;
    color:white;
}

.active{
    display:block;
    transition: .2s;
}



//over 720px monitor
@media (min-width:700px)  {
nav{
    display:block;
}
nav ul{
    list-style: none;
    display:flex;
}

nav ul li{
    line-height: 50px;
    flex: 1;
}



 }