// default size (mobile)

footer {
    margin-top:30px;
    text-align: center;
}

footer p{
    margin:0;
    padding:0;
}

footer a{
    text-decoration: none;
}

//over 720px monitor
@media (min-width:700px)  {



 }