// default size (mobile)
.top-bar{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.top-bar nav{
    // display: none;
    width:100%;
}

.top-bar img, .top-bar button{
    display:inline-block;
}

.top-bar img{
    height:50px;
}


.top-bar button{
    border: none;
    font-weight: bolder;
    height:50px;
    width: 50px;
}



//over 700px monitor
@media (min-width:700px)  {

.top-bar{
    flex-wrap: nowrap;
}

.top-bar button{
        display:none;
}






}